
html {
    min-height: 100%
}

body {
    background: linear-gradient(180deg, #8fc1e3 0%, #5085a5 51%, #31708e 75%);
}
/* working on changing font color */
main section article h1 {
    font: white;
}