/* makes gradient span the entire page */
html {
    min-height: 100%
}

/* adds gradient background */
body {
    background: linear-gradient(180deg, #8fc1e3 0%, #5085a5 51%, #31708e 75%);
}


/* keeps profile pic on about me the same width as the text box as screen shrinks */
@media screen and (max-width: 991px) {
   
    #aboutMeImageBox {
        width: 100%;
        padding: 0;
    }

}

/* removes borders on small screens */
@media screen and (max-width: 768px) {
   
     body main section form, .col-sm-2, #aboutMeImageBox {
      padding: 0;
      border: 0;
      margin: 0;
      width: 100%;
      float: none;
    }

  }

#bio {
    height: 100%;
}